.DS_Store
node_modules
dist
package
generated
public
src/logs
.env
.env.*
!.env.example
tsconfig.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore md files
*.md
